<div class="user">
  <%= @user.email %>
</div><h1>user n</h1>

<div class="items">
  <% @user.items.each do |item| %>
    <%= item.titre %>
    <%= item.artiste %>
    <%= item.note %>
    <%= item.commentaire %>
    <%= item.age %>
    <%= link_to "Show", user_item_path(@user, item) %><br>
  <% end %>
</div>
