<h3>Nouvel item</h3>
<p class="tmdb_key" data-tmdb="<%= "#{ENV['TMDB_KEY']}" %>"></p>
<p class="spotify_key" data-spotify="<%= ENV['KEY_SPOTIFY_KEY'] %>" ></p>
<%= simple_form_for [@user, @item] do |f| %>
  <%= f.input :categorie, collection: ["Canada", "United States"] %>
  <%= f.input :titre %>
  <p><%= f.input :artiste, class: "artiste" %></p>
  <%= f.input :note %>
  <%= f.input :commentaire %>
  <%= f.input :age %>
  <%= f.input :photo %>
  <%= f.submit "Ajouter l'item" %>
<% end %>
